 {{> head }}


    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hola {{ capitalizar nombre }} HTML</h1>
        <p class="lead">Some testo</p>
        <hr class="my-4">
        <p>More Testo</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Boton</a>
    </div>

{{> footer }}